<section class="text-white px-4 bg-black">
    <header class="pt-16 max-w-xl m-auto">
      <picture
        ><source srcset="https://shuttle.zip/images/homepage/icon.webp" type="image/webp" />
        <source srcset="https://shuttle.zip/images/homepage/icon.png" type="image/png" />
        <img src="https://shuttle.zip/images/homepage/icon.png" class="w-20 h-20 max-w-full -ml-2 md:w-24 md:h-24"
      /></picture>
      <div class="my-4 sm:mt-8 sm:mb-8">
        <h2 class="text-[2.63rem] leading-none font-extrabold"><span class="inline-block">Your files.</span> <span class="inline-block">Your rules.</span></h2>
        <p class="text-neutral-500 text-4xl font-bold">Shuttle makes collaborating easy. Simply drag, drop and add your brand.</p>
      </div>
      <div class="items-center flex gap-4">
        <button class="text-black bg-white items-start cursor-pointer font-bold py-2 px-5 text-center inline-block w-40 h-10 rounded-full m-auto">
          <div class="items-center justify-center flex w-full"><div class="items-center justify-center flex">Get early access</div></div>
        </button>
        <p class="text-neutral-500 font-semibold hidden sm:block">Currently in closed beta.</p>
      </div>
    </header>
    <div class="py-24 relative flex w-[61.25rem] h-[32.50rem] gap-2 m-auto md:pt-32 md:pb-32">
      <aside class="text-neutral-200 bg-neutral-900/[0.8] flex-col text-sm flex w-full max-w-[16.25rem] rounded-3xl gap-4 p-3">
        <button class="items-center cursor-pointer font-medium py-1.5 px-2 flex w-full h-9">
          <div class="items-center flex-grow flex gap-2">
            <picture
              ><source srcset="https://shuttle.zip/images/homepage/avatar-1.webp" type="image/webp" />
              <source srcset="https://shuttle.zip/images/homepage/avatar-1.png" type="image/png" />
              <img src="https://shuttle.zip/images/homepage/avatar-1.png" class="w-6 h-6 max-w-full rounded-full overflow-hidden" /></picture
            ><span class="flex-grow w-full">Kirsten</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 ml-2"><path d="m6 9 6 6 6-6" fill="none" stroke="#e5e5e5"></path></svg>
        </button>
        <div class="flex-grow">
          <ul class="list-none mb-4">
            <li class="items-center flex rounded-xl p-2">
              <span class="text-neutral-500"
                ><svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5"><path d="M22 12h-4l-3 9L9 3l-3 9H2" fill="none" stroke="#737373"></path></svg></span
              >Activity
            </li>
            <li class="items-center flex rounded-xl p-2">
              <span class="text-neutral-500"
                ><svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5">
                  <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" fill="none" stroke="#737373"></path>
                  <circle cx="12" cy="12" r="3" fill="none" stroke="#737373"></circle></svg></span
              >Settings
            </li>
          </ul>
          <div>
            <div>
              <h3 class="text-neutral-600 font-extrabold flex">
                <button class="items-center cursor-pointer flex-grow font-medium justify-between py-2 text-center flex w-60 h-9">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 m-1"><path d="m9 18 6-6-6-6" fill="none" stroke="#525252"></path></svg><span class="flex-grow">Shared</span>
                </button>
              </h3>
              <div class="overflow-hidden">
                <div class="pb-4">
                  <ul class="list-none">
                    <li class="items-center flex rounded-xl p-2">
                      <span class="text-neutral-500"
                        ><picture
                          ><source srcset="https://shuttle.zip/images/homepage/org-1.webp" />
                          <source srcset="https://shuttle.zip/images/homepage/org-1.png" />
                          <img src="https://shuttle.zip/images/homepage/org-1.png" class="w-5 h-5 max-w-full rounded-full" /></picture></span
                      >App
                    </li>
                    <li class="items-center flex rounded-xl p-2">
                      <span class="text-neutral-500"
                        ><picture
                          ><source srcset="https://shuttle.zip/images/homepage/org-2.webp" />
                          <source srcset="https://shuttle.zip/images/homepage/org-2.png" />
                          <img src="https://shuttle.zip/images/homepage/org-2.png" class="w-5 h-5 max-w-full rounded-full" /></picture></span
                      >Website 2024
                    </li>
                    <li class="items-center flex rounded-xl p-2">
                      <span class="text-neutral-500"
                        ><picture
                          ><source srcset="https://shuttle.zip/images/homepage/org-3.webp" />
                          <source srcset="https://shuttle.zip/images/homepage/org-3.png" />
                          <img src="https://shuttle.zip/images/homepage/org-3.png" class="w-5 h-5 max-w-full rounded-full" /></picture></span
                      >Website
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <h3 class="text-neutral-600 font-extrabold flex">
                <button class="items-center cursor-pointer flex-grow font-medium justify-between py-2 text-center flex w-60 h-9">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 m-1"><path d="m9 18 6-6-6-6" fill="none" stroke="#525252"></path></svg><span class="flex-grow">Spaces</span>
                </button>
              </h3>
              <div class="overflow-hidden">
                <div class="pb-4">
                  <ul class="list-none">
                    <li class="bg-neutral-800 items-center flex rounded-xl p-2">
                      <span class="text-neutral-500"
                        ><svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" fill="none" stroke="#737373"></path></svg></span
                      >Press kit
                    </li>
                    <li class="items-center flex rounded-xl p-2">
                      <span class="text-neutral-500"
                        ><svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" fill="none" stroke="#737373"></path></svg></span
                      >Design
                    </li>
                    <li class="items-center flex rounded-xl p-2">
                      <span class="text-neutral-500"
                        ><svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" fill="none" stroke="#737373"></path></svg></span
                      >Branding
                    </li>
                    <li class="items-center flex rounded-xl p-2">
                      <span class="text-neutral-500"
                        ><svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" fill="none" stroke="#737373"></path></svg></span
                      >Marketing
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="bg-neutral-900/[0.8] flex-col flex-grow flex rounded-3xl">
        <header class="justify-between py-4 px-8 flex">
          <span class="font-bold">Press kit</span>
          <ul class="text-neutral-500 items-center flex list-none gap-2">
            <li class="list-item">
              <svg xmlns="http://www.w3.org/2000/svg" height="22" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                <path d="M5 12h14" fill="none" stroke="#737373"></path>
                <path d="M12 5v14" fill="none" stroke="#737373"></path>
              </svg>
            </li>
            <li class="list-item">
              <svg xmlns="http://www.w3.org/2000/svg" height="22" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8" fill="none" stroke="#737373"></path>
                <polyline points="16 6 12 2 8 6" fill="none" stroke="#737373"></polyline>
                <line x1="12" x2="12" y1="2" y2="15" fill="none" stroke="#737373"></line>
              </svg>
            </li>
          </ul>
        </header>
        <div class="items-start gap-x-6 flex-col grid-cols-[144px_144px_144px_144px] grid-rows-[9.00rem] justify-start gap-y-12 grid p-8">
          <div class="text-center">
            <picture
              ><source srcset="https://shuttle.zip/images/homepage/file-1.webp" type="image/webp" />
              <source srcset="https://shuttle.zip/images/homepage/file-1.png" type="image/png" />
              <img src="https://shuttle.zip/images/homepage/file-1.png" class="w-32 h-24 max-w-full rounded-2xl m-auto"
            /></picture>
            <div class="text-neutral-400"><span class="text-sm mt-2">Branding</span><span class="text-xs">218 items</span></div>
          </div>
          <div class="text-center">
            <picture
              ><source srcset="https://shuttle.zip/images/homepage/file-2.webp" type="image/webp" />
              <source srcset="https://shuttle.zip/images/homepage/file-2.png" type="image/png" />
              <img src="https://shuttle.zip/images/homepage/file-2.png" class="w-32 h-24 max-w-full rounded-2xl m-auto"
            /></picture>
            <div class="text-neutral-400"><span class="text-sm mt-2">Typography</span><span class="text-xs">48 items</span></div>
          </div>
          <div class="text-center">
            <picture
              ><source srcset="https://shuttle.zip/images/homepage/file-3.webp" type="image/webp" />
              <source srcset="https://shuttle.zip/images/homepage/file-3.png" type="image/png" />
              <img src="https://shuttle.zip/images/homepage/file-3.png" class="w-32 h-24 max-w-full rounded-2xl m-auto"
            /></picture>
            <div class="text-neutral-400"><span class="text-sm mt-2">Terms...itions.pdf</span><span class="text-xs">9/10/28 8:39PM</span></div>
          </div>
        </div>
      </div>
      <div class="items-center bottom-[18.00rem] justify-center left-[30.63rem] absolute right-[22.38rem] top-[24.25rem] z-20 flex">
        <picture
          ><source srcset="https://shuttle.zip/images/homepage/file-4.webp" type="image/webp" />
          <source srcset="https://shuttle.zip/images/homepage/file-4.png" type="image/png" />
          <img src="https://shuttle.zip/images/homepage/file-4.png" class="w-32 h-24 max-w-full border-2 border-black/[0.9] border-solid rounded-2xl"
        /></picture>
      </div>
      <div class="items-center bottom-[18.00rem] justify-center left-[30.63rem] absolute right-[22.38rem] top-[24.25rem] z-20 flex">
        <picture
          ><source srcset="https://shuttle.zip/images/homepage/file-5.webp" type="image/webp" />
          <source srcset="https://shuttle.zip/images/homepage/file-5.png" type="image/png" />
          <img src="https://shuttle.zip/images/homepage/file-5.png" class="w-32 h-24 max-w-full border-2 border-black/[0.9] border-solid rounded-2xl"
        /></picture>
      </div>
      <div class="items-center bottom-[18.00rem] justify-center left-[30.63rem] absolute right-[22.38rem] top-[24.25rem] z-20 flex">
        <picture
          ><source srcset="https://shuttle.zip/images/homepage/file-6.webp" type="image/webp" />
          <source srcset="https://shuttle.zip/images/homepage/file-6.png" type="image/png" />
          <img src="https://shuttle.zip/images/homepage/file-6.png" class="w-32 h-24 max-w-full border-2 border-black/[0.9] border-solid rounded-2xl"
        /></picture>
      </div>
      <div class="bg-amber-500 bottom-[21.75rem] left-[30.63rem] py-2 px-4 absolute right-[27.00rem] top-[24.25rem] z-20 rounded-full">
        Giel<span class="text-amber-500 left-[-1.00rem] absolute top-[-1.00rem]"
          ><svg height="20" fill="none" viewbox="0 0 24 20" xmlns="http://www.w3.org/2000/svg" class="w-6 h-5"><path fill="rgb(245, 158, 11)" d="M10.6268 0.755784C11.2467 -0.251929 12.7533 -0.251928 13.3732 0.755785L23.7722 17.6588C24.4072 18.691 23.6394 20 22.3989 20H1.60105C0.360604 20 -0.407208 18.691 0.227812 17.6588L10.6268 0.755784Z"></path></svg
        ></span>
      </div>
      <div class="bg-orange-500 bottom-[21.75rem] left-[30.63rem] py-2 px-4 absolute right-[26.50rem] top-[24.25rem] z-20 rounded-full">
        Jean<span class="text-orange-500 left-[-1.00rem] absolute top-[-1.00rem]"
          ><svg height="20" fill="none" viewbox="0 0 24 20" xmlns="http://www.w3.org/2000/svg" class="w-6 h-5"><path fill="rgb(249, 115, 22)" d="M10.6268 0.755784C11.2467 -0.251929 12.7533 -0.251928 13.3732 0.755785L23.7722 17.6588C24.4072 18.691 23.6394 20 22.3989 20H1.60105C0.360604 20 -0.407208 18.691 0.227812 17.6588L10.6268 0.755784Z"></path></svg
        ></span>
      </div>
      <div class="bg-indigo-500 bottom-[21.75rem] left-[30.63rem] py-2 px-4 absolute right-[26.50rem] top-[24.25rem] z-20 rounded-full">
        Niels<span class="text-indigo-500 left-[-1.00rem] absolute top-[-1.00rem]"
          ><svg height="20" fill="none" viewbox="0 0 24 20" xmlns="http://www.w3.org/2000/svg" class="w-6 h-5"><path fill="rgb(99, 102, 241)" d="M10.6268 0.755784C11.2467 -0.251929 12.7533 -0.251928 13.3732 0.755785L23.7722 17.6588C24.4072 18.691 23.6394 20 22.3989 20H1.60105C0.360604 20 -0.407208 18.691 0.227812 17.6588L10.6268 0.755784Z"></path></svg
        ></span>
      </div>
      <div class="bg-neutral-800/[0.9] backdrop-blur-[8px] flex-col text-sm absolute right-[2.00rem] top-[4.75rem] flex min-w-[20.00rem] rounded-2xl">
        <header class="text-neutral-400 items-center border-b-2 flex border-white/[0.2] border-solid gap-2 p-4">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
            <circle cx="12" cy="5" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="19" cy="5" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="5" cy="5" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="12" cy="12" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="19" cy="12" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="5" cy="12" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="12" cy="19" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="19" cy="19" r="1" fill="none" stroke="#a3a3a3"></circle>
            <circle cx="5" cy="19" r="1" fill="none" stroke="#a3a3a3"></circle>
          </svg>
          <div class="text-white flex-grow font-bold">Share</div>
          <svg xmlns="http://www.w3.org/2000/svg" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5">
            <path d="M18 6 6 18" fill="none" stroke="#a3a3a3"></path>
            <path d="m6 6 12 12" fill="none" stroke="#a3a3a3"></path>
          </svg>
        </header>
        <div class="px-4 pt-4"><label class="text-neutral-400 font-medium w-full mb-1">Name or Email</label><input placeholder="John Doe" style="outline-offset: 2px; outline-style: solid; outline-width: 2px;" class="bg-neutral-950 cursor-text py-1.5 px-2 flex w-full h-8 rounded-lg" /></div>
        <div class="p-4">
          <ul class="flex-col flex list-none gap-2">
            <li class="text-neutral-600 font-medium list-item">People with access</li>
            <li class="items-center flex gap-2">
              <picture
                ><source srcset="https://shuttle.zip/images/homepage/avatar-1.webp" type="image/webp" />
                <source srcset="https://shuttle.zip/images/homepage/avatar-1.png" type="image/png" />
                <img src="https://shuttle.zip/images/homepage/avatar-1.png" class="w-8 h-8 max-w-full rounded-full"
              /></picture>
              <div class="flex-grow"><span class="font-medium">Giel</span><span class="text-neutral-500">giel@gmail.com</span></div>
              <button class="text-neutral-500 items-center cursor-pointer text-center flex w-24 h-5">
                Full access <svg xmlns="http://www.w3.org/2000/svg" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-3.5 h-3.5"><path d="m6 9 6 6 6-6" fill="none" stroke="#737373"></path></svg>
              </button>
            </li>
            <li class="items-center flex gap-2">
              <picture
                ><source srcset="https://shuttle.zip/images/homepage/avatar-2.webp" type="image/webp" />
                <source srcset="https://shuttle.zip/images/homepage/avatar-2.png" type="image/png" />
                <img src="https://shuttle.zip/images/homepage/avatar-2.png" class="w-8 h-8 max-w-full rounded-full"
              /></picture>
              <div class="flex-grow"><span class="font-medium">Jean</span><span class="text-neutral-500">jean@gmail.com</span></div>
              <button class="text-neutral-500 items-center cursor-pointer text-center flex w-20 h-5">
                Read only <svg xmlns="http://www.w3.org/2000/svg" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-3.5 h-3.5"><path d="m6 9 6 6 6-6" fill="none" stroke="#737373"></path></svg>
              </button>
            </li>
            <li class="items-center flex gap-2">
              <picture
                ><source srcset="https://shuttle.zip/images/homepage/avatar-3.webp" type="image/webp" />
                <source srcset="https://shuttle.zip/images/homepage/avatar-3.png" type="image/png" />
                <img src="https://shuttle.zip/images/homepage/avatar-3.png" class="w-8 h-8 max-w-full rounded-full"
              /></picture>
              <div class="flex-grow"><span class="font-medium">Niels</span><span class="text-neutral-500">niels@shuttle.zip</span></div>
              <button class="text-neutral-500 items-center cursor-pointer text-center flex w-20 h-5">
                Read only <svg xmlns="http://www.w3.org/2000/svg" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-3.5 h-3.5"><path d="m6 9 6 6 6-6" fill="none" stroke="#737373"></path></svg>
              </button>
            </li>
            <li class="items-center flex gap-2">
              <picture
                ><source srcset="https://shuttle.zip/images/homepage/avatar-4.webp" type="image/webp" />
                <source srcset="https://shuttle.zip/images/homepage/avatar-4.png" type="image/png" />
                <img src="https://shuttle.zip/images/homepage/avatar-4.png" class="w-8 h-8 max-w-full rounded-full"
              /></picture>
              <div class="flex-grow"><span class="font-medium">Jeroen</span><span class="text-neutral-500">jeroen@gmail.com</span></div>
              <button class="text-neutral-500 items-center cursor-pointer text-center flex w-24 h-5">
                Full access <svg xmlns="http://www.w3.org/2000/svg" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="w-3.5 h-3.5"><path d="m6 9 6 6 6-6" fill="none" stroke="#737373"></path></svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
