<script>
  // Exported with https://markflow.app
</script>

<section id="styles" class="py-12 sm:py-16 lg:py-20 xl:py-24 xl:pt-12 lg:pt-12">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-3xl mx-auto text-center">
      <h3 class="text-lg font-bold text-teal-500"> Expert Commercial Flooring Solutions </h3>
      <h2 class="mt-6 text-2xl font-bold tracking-tight sm:text-4xl lg:text-5xl text-primary-500"> Quality and Durability Guaranteed </h2>
      <p class="mt-4 text-base font-normal text-gray-600"> At JMB Floors, we specialize in providing top-quality commercial flooring solutions for businesses of all sizes. Our team of experts is dedicated to delivering durable, attractive, and sustainable flooring options that meet your specific needs and exceed your expectations. </p>
      <div class="items-center justify-center hidden w-full pt-12 pb-4 md:flex"><img src="/images/commercial-flooring-before.jpg" width="300" class="w-[300px] v-lazy-image v-lazy-image-loaded" srcset="/images/commercial-flooring-before.jpg 1x, /images/commercial-flooring-before.jpg 2x" alt="Commercial flooring before installation"></div>
    </div>
  </div>
  <div class="grid max-w-6xl grid-cols-1 gap-8 px-4 mx-auto mt-8 md:grid-cols-2 md:mt-0 md:px-0">
    <div class="space-y-8">
      <div class="flex flex-col items-center justify-center space-y-3"><img width="181" height="28" src="/images/jmb-floors-logo.svg" alt="JMB Floors logo" class="w-auto h-6"> <img src="/images/commercial-flooring-after.jpg" class="object-cover w-full v-lazy-image v-lazy-image-loaded" srcset="/images/commercial-flooring-after.jpg 1x, /images/commercial-flooring-after.jpg 2x" alt="Commercial flooring after installation"></div>
      <div>
        <ul class="grid grid-cols-2 gap-3 md:gap-4">
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#17A400] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#091607]">Durable and long-lasting</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#17A400] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#091607]">Satisfaction guaranteed</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#17A400] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#091607]">Customized to your needs</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#17A400] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#091607]">Expert installation</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#17A400] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#091607]">Sustainable options</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#17A400] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#091607]">On-time completion</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="space-y-8">
      <div class="flex flex-col items-center justify-center space-y-3"><span class="font-bold text-[#AE051A] text-[17px]">Other Flooring Companies</span> <img src="/images/low-quality-flooring.jpg" class="object-cover w-full v-lazy-image v-lazy-image-loaded" srcset="/images/low-quality-flooring.jpg 1x, /images/low-quality-flooring.jpg 2x" alt="Low quality commercial flooring"></div>
      <div>
        <ul class="grid grid-cols-2 gap-3 md:gap-4 opacity-[0.7]">
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#AE051A] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#240d0d]">Low-quality materials</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#AE051A] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#240d0d]">Poor installation</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#AE051A] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#240d0d]">Limited options</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#AE051A] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#240d0d]">Deformed faces</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#AE051A] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#240d0d]">Unsharp and blurry</p>
          </li>
          <li class="flex items-start justify-start md:items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-[#AE051A] w-4 h-4 mr-1.5 flex-shrink-0">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd"></path>
            </svg>
            <p class="mt-[-2px] md:mt-0 text-sm font-normal text-[#240d0d]">Random poses</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-16 w-full mx-auto max-w-3xl bg-[#E8F6E5] rounded-md p-3 px-6 flex flex-col md:flex-row items-center justify-between space-y-2 md:space-y-0">
    <div class="flex items-center justify-center md:justify-start"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-[#17A400] w-5 h-5 mr-1.5 hidden md:inline-flex">
        <path fill-rule="evenodd" d="M16.403 12.652a3 3 0 000-5.304 3 3 0 00-3.75-3.751 3 3 0 00-5.305 0 3 3 0 00-3.751 3.75 3 3 0 000 5.305 3 3 0 003.75 3.751 3 3 0 005.305 0 3 3 0 003.751-3.75zm-2.546-4.46a.75.75 0 00-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
      </svg>
      <p class="font-semibold text-center text-green-900 md:text-left"> Get your headshots done in 2 hours, right from your home </p>
    </div> <a href="/auth/login?redirect=%2Fapp%2Fadd" class=""><button aria-label="Primary Button" type="button" class="flex items-center content-center justify-center flex-shrink-0 px-4 py-2 text-sm font-medium leading-4 text-center text-white transition duration-100 border border-transparent rounded-md shadow-sm hover:bg-brand-800 focus:ring-brand-200 bg-brand-500 focus:outline-none focus:ring-2 focus:ring-offset-2"><span class="font-semibold">Get your headshots</span> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ml-1.5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
        </svg></button></a>
  </div>
</section>

<style>
  /*! Exported with https://markflow.app */
  /*! Inherited styles */
  body {
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    color: #000;
    cursor: auto;
    direction: ltr;
    empty-cells: show;
    font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "system-ui", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font: 16px/24px "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "system-ui", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: normal;
    list-style: none;
    orphans: 2;
    quotes: auto;
    speak: normal;
    text-align: start;
    text-indent: 0;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    widows: 2;
    word-spacing: 0px
  }

  .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
  }

  .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
  }

  .max-w-7xl {
    max-width: 80rem
  }

  .text-teal-500 {
    --tw-text-opacity: 1;
    color: rgba(33, 184, 185, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(20 184 166 / var(--tw-text-opacity))
  }

  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit
  }

  .text-primary-500 {
    --tw-text-opacity: 1;
    color: rgba(27, 20, 93, var(--tw-text-opacity))
  }

  .mt-6 {
    margin-top: 1.5rem
  }

  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
  }

  .tracking-tight {
    letter-spacing: -.025em
  }

  .text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(87, 83, 78, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
  }

  .mt-4 {
    margin-top: 1rem
  }

  .text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }

  .pb-4 {
    padding-bottom: 1rem
  }

  .pt-12 {
    padding-top: 3rem
  }

  .w-\[300px\] {
    width: 300px
  }

  .mt-8 {
    margin-top: 2rem
  }

  .max-w-6xl {
    max-width: 72rem
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0px, 1fr))
  }

  .gap-8 {
    gap: 2rem
  }

  .h-6 {
    height: 1.5rem
  }

  .w-auto {
    width: auto
  }

  .text-\[\#091607\] {
    --tw-text-opacity: 1;
    color: rgba(9, 22, 7, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(9 22 7 / var(--tw-text-opacity))
  }

  .text-\[17px\] {
    font-size: 17px
  }

  .font-bold {
    font-weight: 700
  }

  img,
  video {
    height: auto;
    max-width: 100%
  }

  .space-y-3> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.75rem*var(--tw-space-y-reverse));
    margin-top: calc(.75rem*(1 - var(--tw-space-y-reverse)));
    --tw-space-y-reverse: 0;
    margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.75rem * var(--tw-space-y-reverse))
  }

  .object-cover {
    object-fit: cover
  }

  .space-y-8> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse))
  }

  menu,
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0
  }

  .grid {
    display: grid
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0px, 1fr))
  }

  .gap-3 {
    gap: .75rem
  }

  .opacity-\[0\.7\] {
    opacity: .7
  }

  .items-start {
    align-items: flex-start
  }

  .justify-start {
    justify-content: flex-start
  }

  .text-\[\#AE051A\] {
    --tw-text-opacity: 1;
    color: rgba(174, 5, 26, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(174 5 26 / var(--tw-text-opacity))
  }

  .text-\[\#240d0d\] {
    --tw-text-opacity: 1;
    color: rgba(36, 13, 13, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(36 13 13 / var(--tw-text-opacity))
  }

  .mt-\[-2px\] {
    margin-top: -2px
  }

  .font-normal {
    font-weight: 400
  }

  .bg-\[\#E8F6E5\] {
    --tw-bg-opacity: 1;
    background-color: rgba(232, 246, 229, var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(232 246 229 / var(--tw-bg-opacity))
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .mt-16 {
    margin-top: 4rem
  }

  .w-full {
    width: 100%
  }

  .max-w-3xl {
    max-width: 48rem
  }

  .flex-col {
    flex-direction: column
  }

  .justify-between {
    justify-content: space-between
  }

  .p-3 {
    padding: .75rem
  }

  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .text-\[\#17A400\] {
    --tw-text-opacity: 1;
    color: rgba(23, 164, 0, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(23 164 0 / var(--tw-text-opacity))
  }

  .mr-1\.5 {
    margin-right: .375rem
  }

  .hidden {
    display: none
  }

  .h-5 {
    height: 1.25rem
  }

  .w-5 {
    width: 1.25rem
  }

  blockquote,
  dd,
  dl,
  fieldset,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: 0
  }

  .text-green-900 {
    --tw-text-opacity: 1;
    color: rgba(20, 83, 45, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(20 83 45 / var(--tw-text-opacity))
  }

  a {
    color: inherit;
    text-decoration: inherit
  }

  .space-y-2> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.5rem*var(--tw-space-y-reverse));
    margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)));
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-feature-settings: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
  }

  button,
  select {
    text-transform: none
  }

  [type=button],
  [type=reset],
  [type=submit],
  button {
    appearance: button;
    background-color: transparent;
    background-image: none
  }

  [role=button],
  button {
    cursor: pointer
  }

  .flex-shrink-0,
  .shrink-0 {
    flex-shrink: 0
  }

  .bg-brand-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(27, 20, 93, var(--tw-bg-opacity))
  }

  .text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }

  .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
  }

  .flex {
    display: flex
  }

  .flex-shrink-0 {
    flex-shrink: 0
  }

  .content-center {
    align-content: center
  }

  .items-center {
    align-items: center
  }

  .justify-center {
    justify-content: center
  }

  .rounded-md {
    border-radius: .375rem
  }

  .border {
    border-width: 1px
  }

  .border-transparent {
    border-color: transparent
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem
  }

  .py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
  }

  .text-center {
    text-align: center
  }

  .text-sm {
    font-size: .875rem;
    line-height: 1.25rem
  }

  .font-medium {
    font-weight: 500
  }

  .leading-4 {
    line-height: 1rem
  }

  .transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
  }

  .duration-100 {
    transition-duration: .1s
  }

  .font-semibold {
    font-weight: 600
  }

  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
    vertical-align: middle
  }

  .ml-1\.5 {
    margin-left: .375rem
  }

  .h-4 {
    height: 1rem
  }

  .w-4 {
    width: 1rem
  }

  *,
  ::after,
  ::before {
    border: 0 solid #e7e5e4;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
  }

  @media (min-width:640px) {
    .sm\:py-16 {
      padding-bottom: 4rem;
      padding-top: 4rem
    }
  }

  @media (min-width:1024px) {
    .lg\:py-20 {
      padding-bottom: 5rem;
      padding-top: 5rem
    }

    .lg\:pt-12 {
      padding-top: 3rem
    }
  }

  @media (min-width:1280px) {
    .xl\:py-24 {
      padding-bottom: 6rem;
      padding-top: 6rem
    }

    .xl\:pt-12 {
      padding-top: 3rem
    }
  }

  @media (min-width:640px) {
    .sm\:py-16 {
      padding-top: 4rem;
      padding-bottom: 4rem
    }
  }

  @media (min-width:1024px) {
    .lg\:py-20 {
      padding-top: 5rem;
      padding-bottom: 5rem
    }

    .lg\:pt-12 {
      padding-top: 3rem
    }
  }

  @media (min-width:1280px) {
    .xl\:py-24 {
      padding-top: 6rem;
      padding-bottom: 6rem
    }

    .xl\:pt-12 {
      padding-top: 3rem
    }
  }

  @media (min-width:640px) {
    .sm\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem
    }

    .sm\:text-4xl {
      font-size: 2.25rem;
      line-height: 2.5rem
    }
  }

  @media (min-width:1024px) {
    .lg\:px-8 {
      padding-left: 2rem;
      padding-right: 2rem
    }

    .lg\:text-5xl {
      font-size: 3rem;
      line-height: 1
    }
  }

  @media (min-width:768px) {
    .md\:flex {
      display: flex
    }

    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0px, 1fr))
    }

    .md\:px-0 {
      padding-left: 0;
      padding-right: 0
    }

    .md\:gap-4 {
      gap: 1rem
    }

    .md\:items-center {
      align-items: center
    }

    .md\:mt-0 {
      margin-top: 0
    }

    .md\:flex-row {
      flex-direction: row
    }

    .md\:justify-start {
      justify-content: flex-start
    }

    .md\:inline-flex {
      display: inline-flex
    }

    .md\:text-left {
      text-align: left
    }

    .md\:space-y-0> :not([hidden])~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-bottom: calc(0px*var(--tw-space-y-reverse));
      margin-top: calc(0px*(1 - var(--tw-space-y-reverse)));
      --tw-space-y-reverse: 0;
      margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(0px * var(--tw-space-y-reverse))
    }
  }
</style>