<script>
    // Exported with https://markflow.app
  </script>
  
  <section class="-mt-6 sm:block">
    <div class="my-6">
      <div class="flex items-center justify-center gap-6">
        <div class="flex flex-col items-center">
          <span class="text-sm text-gray-600">Proudly worked with:</span>
          <div class="flex items-center py-4 space-x-6">
            <img src="https://logos-world.net/wp-content/uploads/2020/02/Canva-Logo.png" class="h-[32px] grayscale v-lazy-image v-lazy-image-loaded" srcset="https://logos-world.net/wp-content/uploads/2020/02/Canva-Logo.png 1x, https://logos-world.net/wp-content/uploads/2020/02/Canva-Logo.png 2x"> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/800px-National_Health_Service_%28England%29_logo.svg.png" class="h-[28px] grayscale v-lazy-image v-lazy-image-loaded" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/800px-National_Health_Service_%28England%29_logo.svg.png 1x, https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/800px-National_Health_Service_%28England%29_logo.svg.png 2x"> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Harrods.svg/1200px-Harrods.svg.png" class="h-[32px] grayscale v-lazy-image v-lazy-image-loaded" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Harrods.svg/1200px-Harrods.svg.png 1x, https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Harrods.svg/1200px-Harrods.svg.png 2x">
          </div>
        </div>
      </div>
      </div>
    </div>
    <hr>
    <div class="px-4 pt-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="flex flex-col items-center justify-center gap-8 md:flex-row lg:gap-16">
        <div>
          <h3 class="font-bold text-md lg:text-lg text-primary-500"> All commercial flooring projects include </h3>
          <ul class="mt-3 text-sm xl:text-base space-y-1 md:space-y-2.5 text-primary-500">
            <li class="flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-teal-500">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg> Free on-site consultation </li>
            <li class="flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-teal-500">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg> Expert installation services </li>
            <li class="flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-teal-500">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg> High-quality, durable flooring options </li>
          </ul>
        </div>
        <div class="h-px w-full bg-[#EEEEF5] md:h-28 md:w-px"></div>
        <div class="hidden space-y-6 convert-13-v2">
          <div class="flex flex-col justify-center">
            <div class="flex items-center justify-center mx-auto space-x-px"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 text-yellow-500">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
              </svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 text-yellow-500">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
              </svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 text-yellow-500">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
              </svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 text-yellow-500">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
              </svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3 text-yellow-500">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
              </svg></div>
            <p class="mt-4 text-brand-500"> Trusted by <span class="font-bold"> 500+</span> businesses! </p>
          </div>
          <div class="flex items-center justify-center gap-6 md:flex-col md:gap-2 lg:flex-row lg:gap-6">
            <div class="flex items-center gap-2">
              <p class="text-5xl font-bold text-primary-500"> 2 </p>
              <p class="text-sm font-bold leading-none uppercase text-primary-500"> weeks <br> average project time </p>
            </div>
            <p class="text-base font-normal text-primary-500"> Efficient project completion </p>
          </div>
        </div>
        <div class="space-y-6 convert-13-v1">
          <div class="flex items-center gap-6 md:flex-col md:gap-2 lg:flex-row lg:gap-6">
            <p class="text-5xl font-bold text-primary-500"> £0 </p>
            <p class="text-base font-normal text-primary-500"> Free on-site consultation <br> Limited time offer! </p>
          </div>
          <div class="flex items-center gap-6 md:flex-col md:gap-2 lg:flex-row lg:gap-6">
            <div class="flex items-center gap-2">
              <p class="text-5xl font-bold text-primary-500"> 2 </p>
              <p class="text-sm font-bold leading-none uppercase text-primary-500"> weeks <br> average project time </p>
            </div>
            <p class="text-base font-normal text-primary-500"> Efficient project completion </p>
          </div>
        </div>
        <div class="hidden md:flex h-px w-full bg-[#EEEEF5] md:h-28 md:w-px"></div>
        <div class="hidden sm:block">
          <h3 class="font-bold text-md lg:text-lg text-primary-500"> Why choose JMB Floors? </h3>
          <ul class="mt-3 text-sm xl:text-base space-y-1 md:space-y-2.5 text-primary-500">
            <li class="flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-teal-500">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg> Experienced and professional team </li>
            <li class="flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-teal-500">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg> Customized solutions for your business </li>
            <li class="flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-teal-500">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg> Commitment to quality and satisfaction </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <style>
    /*! Exported with https://markflow.app */
    /*! Inherited styles */
    body {
      border-collapse: separate;
      border-spacing: 0px 0px;
      caption-side: top;
      color: #000;
      cursor: auto;
      direction: ltr;
      empty-cells: show;
      font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "system-ui", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font: 16px/24px "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "system-ui", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      letter-spacing: normal;
      list-style: none;
      orphans: 2;
      quotes: auto;
      speak: normal;
      text-align: start;
      text-indent: 0;
      text-transform: none;
      visibility: visible;
      white-space: normal;
      widows: 2;
      word-spacing: 0px
    }
  
    .-mt-6 {
      margin-top: -1.5rem
    }
  
    .pb-12 {
      padding-bottom: 3rem
    }
  
    .my-6 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem
    }
  
    .gap-3 {
      gap: .75rem
    }
  
    .text-gray-600 {
      --tw-text-opacity: 1;
      color: rgba(87, 83, 78, var(--tw-text-opacity));
      --tw-text-opacity: 1;
      color: rgb(75 85 99 / var(--tw-text-opacity))
    }
  
    .w-\[40px\] {
      width: 40px
    }
  
    img,
    video {
      height: auto;
      max-width: 100%
    }
  
    .space-x-2> :not([hidden])~ :not([hidden]) {
      --tw-space-x-reverse: 0;
      margin-left: calc(.5rem*(1 - var(--tw-space-x-reverse)));
      margin-right: calc(.5rem*var(--tw-space-x-reverse));
      --tw-space-x-reverse: 0;
      margin-right: calc(.5rem * var(--tw-space-x-reverse));
      margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
    }
  
    .grayscale {
      --tw-grayscale: grayscale(100%);
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) grayscale(100%) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
      --tw-grayscale: grayscale(100%);
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
    }
  
    .filter,
    .grayscale {
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
    }
  
    .w-1\/5 {
      width: 20%
    }
  
    hr {
      border-top-width: 1px;
      color: inherit;
      height: 0
    }
  
    .max-w-7xl {
      max-width: 80rem
    }
  
    .px-4 {
      padding-left: 1rem;
      padding-right: 1rem
    }
  
    .pt-8 {
      padding-top: 2rem
    }
  
    .gap-8 {
      gap: 2rem
    }
  
    .flex-col {
      flex-direction: column
    }
  
    .mx-auto {
      margin-left: auto;
      margin-right: auto
    }
  
    .space-x-px> :not([hidden])~ :not([hidden]) {
      --tw-space-x-reverse: 0;
      margin-left: calc(1px*(1 - var(--tw-space-x-reverse)));
      margin-right: calc(1px*var(--tw-space-x-reverse));
      --tw-space-x-reverse: 0;
      margin-right: calc(1px * var(--tw-space-x-reverse));
      margin-left: calc(1px * calc(1 - var(--tw-space-x-reverse)))
    }
  
    .text-yellow-500 {
      --tw-text-opacity: 1;
      color: rgba(234, 179, 8, var(--tw-text-opacity));
      --tw-text-opacity: 1;
      color: rgb(234 179 8 / var(--tw-text-opacity))
    }
  
    .h-3 {
      height: .75rem
    }
  
    .w-3 {
      width: .75rem
    }
  
    .text-brand-500 {
      --tw-text-opacity: 1;
      color: rgba(27, 20, 93, var(--tw-text-opacity))
    }
  
    .mt-4 {
      margin-top: 1rem
    }
  
    .justify-center {
      justify-content: center
    }
  
    .space-y-6> :not([hidden])~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
      margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
      --tw-space-y-reverse: 0;
      margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
    }
  
    .gap-6 {
      gap: 1.5rem
    }
  
    .text-5xl {
      font-size: 3rem;
      line-height: 1
    }
  
    .uppercase {
      text-transform: uppercase
    }
  
    .leading-none {
      line-height: 1
    }
  
    .text-base {
      font-size: 1rem;
      line-height: 1.5rem
    }
  
    .font-normal {
      font-weight: 400
    }
  
    .bg-\[\#EEEEF5\] {
      --tw-bg-opacity: 1;
      background-color: rgba(238, 238, 245, var(--tw-bg-opacity));
      --tw-bg-opacity: 1;
      background-color: rgb(238 238 245 / var(--tw-bg-opacity))
    }
  
    .h-px {
      height: 1px
    }
  
    .w-full {
      width: 100%
    }
  
    .hidden {
      display: none
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit
    }
  
    blockquote,
    dd,
    dl,
    fieldset,
    figure,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    pre {
      margin: 0
    }
  
    .font-bold {
      font-weight: 700
    }
  
    menu,
    ol,
    ul {
      list-style: none;
      margin: 0;
      padding: 0
    }
  
    .text-primary-500 {
      --tw-text-opacity: 1;
      color: rgba(27, 20, 93, var(--tw-text-opacity))
    }
  
    .mt-3 {
      margin-top: .75rem
    }
  
    .text-sm {
      font-size: .875rem;
      line-height: 1.25rem
    }
  
    .space-y-1> :not([hidden])~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-bottom: calc(.25rem*var(--tw-space-y-reverse));
      margin-top: calc(.25rem*(1 - var(--tw-space-y-reverse)));
      --tw-space-y-reverse: 0;
      margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(.25rem * var(--tw-space-y-reverse))
    }
  
    .flex {
      display: flex
    }
  
    .items-center {
      align-items: center
    }
  
    .gap-2 {
      gap: .5rem
    }
  
    audio,
    canvas,
    embed,
    iframe,
    img,
    object,
    svg,
    video {
      display: block;
      vertical-align: middle
    }
  
    .text-teal-500 {
      --tw-text-opacity: 1;
      color: rgba(33, 184, 185, var(--tw-text-opacity));
      --tw-text-opacity: 1;
      color: rgb(20 184 166 / var(--tw-text-opacity))
    }
  
    .h-5 {
      height: 1.25rem
    }
  
    .w-5 {
      width: 1.25rem
    }
  
    *,
    ::after,
    ::before {
      border: 0 solid #e7e5e4;
      box-sizing: border-box;
      --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-pan-x: ;
      --tw-pan-y: ;
      --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position: ;
      --tw-gradient-via-position: ;
      --tw-gradient-to-position: ;
      --tw-ordinal: ;
      --tw-slashed-zero: ;
      --tw-numeric-figure: ;
      --tw-numeric-spacing: ;
      --tw-numeric-fraction: ;
      --tw-ring-inset: ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgba(59, 130, 246, .5);
      --tw-ring-offset-shadow: 0 0 transparent;
      --tw-ring-shadow: 0 0 transparent;
      --tw-shadow: 0 0 transparent;
      --tw-shadow-colored: 0 0 transparent;
      --tw-blur: ;
      --tw-brightness: ;
      --tw-contrast: ;
      --tw-grayscale: ;
      --tw-hue-rotate: ;
      --tw-invert: ;
      --tw-saturate: ;
      --tw-sepia: ;
      --tw-drop-shadow: ;
      --tw-backdrop-blur: ;
      --tw-backdrop-brightness: ;
      --tw-backdrop-contrast: ;
      --tw-backdrop-grayscale: ;
      --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ;
      --tw-backdrop-opacity: ;
      --tw-backdrop-saturate: ;
      --tw-backdrop-sepia:
    }
  
    @media (min-width:640px) {
      .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
      }
    }
  
    @media (min-width:1024px) {
      .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
      }
  
      .lg\:gap-16 {
        gap: 4rem
      }
    }
  
    @media (min-width:768px) {
      .md\:flex {
        display: flex
      }
  
      .md\:w-\[60px\] {
        width: 60px
      }
  
      .md\:w-\[100px\] {
        width: 100px
      }
  
      .md\:flex-row {
        flex-direction: row
      }
  
      .md\:h-28 {
        height: 7rem
      }
  
      .md\:w-px {
        width: 1px
      }
  
      .md\:flex-col {
        flex-direction: column
      }
  
      .md\:gap-2 {
        gap: .5rem
      }
    }
  
    @media (min-width:768px) {
      .md\:flex {
        display: flex
      }
  
      .md\:h-28 {
        height: 7rem
      }
  
      .md\:w-px {
        width: 1px
      }
    }
  
    @media (min-width:640px) {
      .sm\:block {
        display: block
      }
    }
  
    @media (min-width:1024px) {
      .lg\:flex-row {
        flex-direction: row
      }
  
      .lg\:gap-6 {
        gap: 1.5rem
      }
  
      .lg\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
      }
    }
  
    @media (min-width:1280px) {
      .xl\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
      }
    }
  
    @media (min-width:768px) {
      .md\:space-y-2\.5> :not([hidden])~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-bottom: calc(.625rem*var(--tw-space-y-reverse));
        margin-top: calc(.625rem*(1 - var(--tw-space-y-reverse)));
        --tw-space-y-reverse: 0;
        margin-top: calc(.625rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(.625rem * var(--tw-space-y-reverse))
      }
    }
  </style>