<script>
  // Exported with https://markflow.app
</script>

<section class="section-large-3" data-aria-hidden="true" aria-hidden="true">
  <div class="container-regular">
    <div class="title-wrap-regular margin-bottom-56">
      <div class="badge">
        <div>Vario FAQ</div>
      </div>
      <h3 class="h3-heading-4">Frequently Asked Questions</h3>
      <p class="paragraph-regular">All Vario plans come with a <span class="text-span-strong">14-day free</span> trial period.</p>
    </div>
    <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="faq-tabs-small w-tabs">
      <div id="w-node-c5b331fe-824c-9ebf-dbf3-0aea706b79eb-c31cf361" class="faq-tabs-menu-small w-tab-menu" role="tablist"><a data-w-tab="Tab 1" class="faq-tab-link-small w-inline-block w-tab-link w--current" id="w-tabs-1-data-w-tab-0" href="#w-tabs-1-data-w-pane-0" role="tab" aria-controls="w-tabs-1-data-w-pane-0" aria-selected="true">
          <div>How it Works</div>
          <div class="faq-tab-icon">
            <div class="faq-arrow w-embed" style="opacity: 0;"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0303 12.5303C15.3232 12.2374 15.3232 11.7626 15.0303 11.4697L11.0303 7.46967C10.7374 7.17678 10.2626 7.17678 9.96967 7.46967C9.67678 7.76256 9.67678 8.23744 9.96967 8.53033L13.4393 12L9.96967 15.4697C9.67678 15.7626 9.67678 16.2374 9.96967 16.5303C10.2626 16.8232 10.7374 16.8232 11.0303 16.5303L15.0303 12.5303Z" fill="black"></path>
              </svg></div>
            <div class="faq-minus w-embed" style="opacity: 1;"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 12C6.5 11.5858 6.83579 11.25 7.25 11.25H17.75C18.1642 11.25 18.5 11.5858 18.5 12C18.5 12.4142 18.1642 12.75 17.75 12.75H7.25C6.83579 12.75 6.5 12.4142 6.5 12Z" fill="black"></path>
              </svg></div>
          </div>
        </a><a data-w-tab="Tab 2" class="faq-tab-link-small w-inline-block w-tab-link" tabindex="-1" id="w-tabs-1-data-w-tab-1" href="#w-tabs-1-data-w-pane-1" role="tab" aria-controls="w-tabs-1-data-w-pane-1" aria-selected="false">
          <div>Finance App</div>
          <div class="faq-tab-icon">
            <div class="faq-arrow w-embed" style="opacity: 1;"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0303 12.5303C15.3232 12.2374 15.3232 11.7626 15.0303 11.4697L11.0303 7.46967C10.7374 7.17678 10.2626 7.17678 9.96967 7.46967C9.67678 7.76256 9.67678 8.23744 9.96967 8.53033L13.4393 12L9.96967 15.4697C9.67678 15.7626 9.67678 16.2374 9.96967 16.5303C10.2626 16.8232 10.7374 16.8232 11.0303 16.5303L15.0303 12.5303Z" fill="black"></path>
              </svg></div>
            <div class="faq-minus w-embed" style="opacity: 0;"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 12C6.5 11.5858 6.83579 11.25 7.25 11.25H17.75C18.1642 11.25 18.5 11.5858 18.5 12C18.5 12.4142 18.1642 12.75 17.75 12.75H7.25C6.83579 12.75 6.5 12.4142 6.5 12Z" fill="black"></path>
              </svg></div>
          </div>
        </a><a data-w-tab="Tab 3" class="faq-tab-link-small w-inline-block w-tab-link" tabindex="-1" id="w-tabs-1-data-w-tab-2" href="#w-tabs-1-data-w-pane-2" role="tab" aria-controls="w-tabs-1-data-w-pane-2" aria-selected="false">
          <div>Vario Payment</div>
          <div class="faq-tab-icon">
            <div class="faq-arrow w-embed" style="opacity: 1;"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0303 12.5303C15.3232 12.2374 15.3232 11.7626 15.0303 11.4697L11.0303 7.46967C10.7374 7.17678 10.2626 7.17678 9.96967 7.46967C9.67678 7.76256 9.67678 8.23744 9.96967 8.53033L13.4393 12L9.96967 15.4697C9.67678 15.7626 9.67678 16.2374 9.96967 16.5303C10.2626 16.8232 10.7374 16.8232 11.0303 16.5303L15.0303 12.5303Z" fill="black"></path>
              </svg></div>
            <div class="faq-minus w-embed" style="opacity: 0;"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 12C6.5 11.5858 6.83579 11.25 7.25 11.25H17.75C18.1642 11.25 18.5 11.5858 18.5 12C18.5 12.4142 18.1642 12.75 17.75 12.75H7.25C6.83579 12.75 6.5 12.4142 6.5 12Z" fill="black"></path>
              </svg></div>
          </div>
        </a></div>
      <div class="faq-tabs-image w-tab-content">
        <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active" id="w-tabs-1-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-0">
          <div class="faq-pane-grid">
            <div class="faq-content-small">
              <div data-hover="false" data-delay="0" class="faq w-dropdown" style="">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">Expense Tracking</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0" style="width: 448.109px; height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown" style="">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-1" aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How do I analyze my returns with Vario?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-1" aria-labelledby="w-dropdown-toggle-1" style="width: 448.109px; height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-2" aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How can I better manage my finances?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-2" aria-labelledby="w-dropdown-toggle-2" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-3" aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How can I effectively manage my assets?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-3" aria-labelledby="w-dropdown-toggle-3" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-4" aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">What investment support is available?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-4" aria-labelledby="w-dropdown-toggle-4" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
            </div>
            <div id="w-node-c5b331fe-824c-9ebf-dbf3-0aea706b7a4d-c31cf361" class="faq-tab-image"><img src="https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%20Tab%20Image.webp" loading="lazy" srcset="https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-500.png 500w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-800.png 800w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-1080.png 1080w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%20Tab%20Image.webp 1168w" alt="" sizes="90vw" class="image-full"></div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="w-tab-pane" id="w-tabs-1-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-1">
          <div class="faq-pane-grid">
            <div class="faq-content-small">
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-5" aria-controls="w-dropdown-list-5" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">Expense Tracking</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-5" aria-labelledby="w-dropdown-toggle-5" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-6" aria-controls="w-dropdown-list-6" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How do I analyze my returns with Vario?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-6" aria-labelledby="w-dropdown-toggle-6" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-7" aria-controls="w-dropdown-list-7" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How can I better manage my finances?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-7" aria-labelledby="w-dropdown-toggle-7" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-8" aria-controls="w-dropdown-list-8" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How can I effectively manage my assets?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-8" aria-labelledby="w-dropdown-toggle-8" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-9" aria-controls="w-dropdown-list-9" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">What investment support is available?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-9" aria-labelledby="w-dropdown-toggle-9" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
            </div>
            <div id="w-node-c5b331fe-824c-9ebf-dbf3-0aea706b7a9d-c31cf361" class="faq-tab-image"><img src="https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%20Tab%20Image.webp" loading="lazy" srcset="https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-500.png 500w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-800.png 800w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-1080.png 1080w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%20Tab%20Image.webp 1168w" alt="" sizes="90vw" class="image-full"></div>
          </div>
        </div>
        <div data-w-tab="Tab 3" class="w-tab-pane" id="w-tabs-1-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-2">
          <div class="faq-pane-grid">
            <div class="faq-content-small">
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-10" aria-controls="w-dropdown-list-10" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">Expense Tracking</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-10" aria-labelledby="w-dropdown-toggle-10" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-11" aria-controls="w-dropdown-list-11" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How do I analyze my returns with Vario?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-11" aria-labelledby="w-dropdown-toggle-11" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-12" aria-controls="w-dropdown-list-12" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How can I better manage my finances?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-12" aria-labelledby="w-dropdown-toggle-12" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-13" aria-controls="w-dropdown-list-13" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">How can I effectively manage my assets?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-13" aria-labelledby="w-dropdown-toggle-13" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" class="faq w-dropdown">
                <div class="faq-toggle w-dropdown-toggle" id="w-dropdown-toggle-14" aria-controls="w-dropdown-list-14" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                  <div class="faq-title-wrap">
                    <div class="faq-title">What investment support is available?</div>
                    <div class="faq-icon">
                      <div class="plus w-embed" style="opacity: 1;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.99984 2.66663V7.99996M7.99984 7.99996V13.3333M7.99984 7.99996H2.6665M7.99984 7.99996H13.3332" stroke="#FF4B0E" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                      <div class="minus w-embed" style="opacity: 0;"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.6665 8H7.99984H13.3332" stroke="#8F8F8F" stroke-width="1.33333" stroke-linecap="square"></path>
                        </svg></div>
                    </div>
                  </div>
                </div>
                <nav class="faq-list w-dropdown-list" id="w-dropdown-list-14" aria-labelledby="w-dropdown-toggle-14" style="height: 0px;">
                  <div class="faq-tab" style="transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                    <p class="paragraph-small-2">Lorem ipsum dolor sit amet consectetur <span class="text-span-strong">adipiscing elit</span> etiam vehicula.</p>
                  </div>
                </nav>
              </div>
            </div>
            <div id="w-node-c5b331fe-824c-9ebf-dbf3-0aea706b7aed-c31cf361" class="faq-tab-image"><img src="https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%20Tab%20Image.webp" loading="lazy" srcset="https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-500.png 500w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-800.png 800w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%2520Tab%2520Image-p-1080.png 1080w, https://assets-global.website-files.com/662532b61098e345c31cf35a/662c19689af8a675e4524ebf_FAQ%20Tab%20Image.webp 1168w" alt="" sizes="90vw" class="image-full"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /*! Exported with https://markflow.app */
  /*! Inherited styles */
  body {
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    color: #333;
    cursor: auto;
    direction: ltr;
    empty-cells: show;
    font: 14px/20px Arial, sans-serif;
    letter-spacing: normal;
    list-style: none;
    orphans: 2;
    quotes: auto;
    speak: normal;
    text-align: start;
    text-indent: 0;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    widows: 2;
    word-spacing: 0px
  }

  .section-large-3 {
    padding: 120px 5%;
    position: relative
  }

  .container-regular {
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: relative
  }

  .title-wrap-regular {
    gap: 12px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex
  }

  .badge {
    color: #000;
    background-color: #fff;
    border-radius: 99px;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, .06) 0 0 0 1px, rgba(0, 0, 0, .06) 0 1px 2px
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    font-weight: 700
  }

  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px
  }

  .h3-heading-4 {
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2
  }

  .paragraph-regular {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7
  }

  .w-tabs {
    position: relative
  }

  .faq-tabs-small {
    z-index: 0;
    gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.55fr;
    grid-auto-columns: 1fr;
    align-items: center
  }

  .w-tab-menu {
    position: relative
  }

  .faq-tabs-menu-small {
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
    display: flex
  }

  #w-node-c5b331fe-824c-9ebf-dbf3-0aea706b79eb-c31cf361 {
    grid-area: 1/1/2/2;
    align-self: end
  }

  .w-tab-link.w--current {
    background-color: #c8c8c8
  }

  .faq-tab-link-small.w--current {
    background-color: #f5f5f5
  }

  a {
    background-color: rgba(0, 0, 0, 0)
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block
  }

  .w-tab-link {
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    background-color: #ddd;
    padding: 9px 30px;
    text-decoration: none;
    display: inline-block;
    position: relative
  }

  .faq-tab-link-small {
    gap: 4px;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 4px 12px;
    font-size: 14px;
    line-height: 1.7;
    display: flex
  }

  .faq-tab-icon {
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    display: flex;
    position: relative
  }

  .faq-arrow {
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    display: flex
  }

  .faq-minus {
    opacity: 0;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute
  }

  .w-tab-content {
    display: block;
    position: relative;
    overflow: hidden
  }

  .faq-tabs-image {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    display: flex;
    overflow: visible
  }

  .w--tab-active {
    display: block
  }

  .w-tab-pane {
    display: none;
    position: relative
  }

  .faq-pane-grid {
    gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.45fr;
    grid-auto-columns: 1fr;
    display: grid
  }

  .faq-content-small {
    gap: 12px;
    border-radius: 24px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
    display: flex;
    box-shadow: rgba(0, 0, 0, .06) 0 1px 2px, rgba(0, 0, 0, .06) 0 0 0 1px inset
  }

  .w-dropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative
  }

  .faq {
    cursor: pointer;
    width: 100%;
    overflow: hidden
  }

  .w-dropdown-btn,
  .w-dropdown-link,
  .w-dropdown-toggle {
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative
  }

  .w-dropdown-toggle {
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block
  }

  .faq-toggle {
    z-index: 2;
    width: 100%;
    padding: 20px
  }

  .faq-title-wrap {
    column-gap: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex
  }

  .faq-title {
    color: #000;
    white-space: normal;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7
  }

  .faq-icon {
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    display: flex;
    position: relative
  }

  .plus {
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    display: flex
  }

  .minus {
    z-index: 0;
    opacity: 0;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    display: flex;
    position: absolute
  }

  svg:not(:root) {
    overflow: hidden
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block
  }

  .w-dropdown-list {
    background: #ddd;
    min-width: 100%;
    display: none;
    position: absolute
  }

  .faq-list {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    position: static
  }

  .faq-tab {
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 44px;
    position: relative;
    top: -12px
  }

  p {
    margin-top: 0;
    margin-bottom: 10px
  }

  .paragraph-small-2 {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.7
  }

  .text-span-strong {
    color: #000;
    font-weight: 500
  }

  .faq-tab-image {
    background-color: #f5f5f5;
    border-radius: 12px 24px 24px 12px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    overflow: hidden
  }

  #w-node-c5b331fe-824c-9ebf-dbf3-0aea706b7a4d-c31cf361,
  #w-node-c5b331fe-824c-9ebf-dbf3-0aea706b7a9d-c31cf361,
  #w-node-c5b331fe-824c-9ebf-dbf3-0aea706b7aed-c31cf361 {
    grid-area: span 1/span 1/span 1/span 1;
    align-self: stretch
  }

  img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block
  }

  * {
    box-sizing: border-box
  }

  .image-full {
    width: 100%;
    height: 354px
  }

  @media screen and (max-width:991px) {
    .faq-tabs-small {
      gap: 0;
      flex-direction: column;
      grid-template-columns: 1fr;
      display: flex
    }

    .faq-tabs-menu-small {
      margin-bottom: 32px;
      margin-right: 0
    }
  }

  @media screen and (max-width:767px) {
    .section-large-3 {
      padding-top: 72px;
      padding-bottom: 72px
    }

    .faq-tabs-menu-small {
      flex-flow: wrap
    }

    .faq-tab-link-small {
      padding-top: 6px;
      padding-bottom: 6px
    }
  }

  @media screen and (max-width:479px) {
    .w-tab-link {
      display: block
    }

    .faq-tab-link-small {
      justify-content: center;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 8px
    }
  }

  @media screen and (max-width:767px) {
    .faq-content-small {
      padding: 32px
    }
  }

  @media screen and (max-width:479px) {
    .faq-content-small {
      padding: 24px 16px 16px
    }
  }

  @media screen and (max-width:991px) {
    .faq-pane-grid {
      grid-template-columns: 1fr
    }

    .faq-title {
      white-space: normal
    }

    .image-full {
      height: auto
    }
  }
</style>